@import url("https://fonts.googleapis.com/css?family=Lato:400|Josefin+Sans:700");

html {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fff;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #212121;
    line-height: 25px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
    font-size: 36px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

a:hover {
    text-decoration: none;
}

a a:focus {
    outline: none;
}

p {
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    margin: 0px;
    font-size: 14px;
}

ul,
ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul li,
ol li {
    list-style: none;
}

.subtitle {
    font-size: 15px;
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.inner-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: capitalize;
}

.page-tagline {
    font-size: 24px;
    font-weight: 400;
    color: #ddd;
}

.page-title {
    font-size: 62px;
    font-weight: 700;
    color: #fff;
}

.btn {
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display: inline-block;
}

.btn i {
    margin-right: 5px;
}

.btn:focus,
.btn:active {
    box-shadow: none;
    outline: none;
    color: #fff;
}

.btn-common {
    background-color: #CA33FF;
    position: relative;
    z-index: 1;
}

.btn-common:hover {
    color: #fff;
    background: #FF7F50;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.btn-border {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

.btn-border:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

.btn-lg {
    padding: 12px 34px;
    text-transform: uppercase;
    font-size: 14px;
}

.btn-rm {
    padding: 7px 10px;
    text-transform: capitalize;
}

button:focus {
    outline: none !important;
}

.icon-close,
.icon-check {
    color: #CA33FF;
}

.bg-drack {
    background: #f1f1f1;
}

.bg-white {
    background: #fff;
}

.mb-30 {
    margin-bottom: 30px;
}

.mt-30 {
    margin-top: 30px;
}


/* ScrollToTop */

a.back-to-top {
    display: none;
    position: fixed;
    bottom: 18px;
    right: 15px;
    text-decoration: none;
}

a.back-to-top i {
    display: block;
    font-size: 22px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #CA33FF;
    border-radius: 0px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover,
a.back-to-top:focus {
    text-decoration: none;
}

#preloader {
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999999;
}

.sk-circle {
    margin: 0px auto;
    width: 40px;
    height: 40px;
    top: 45%;
    position: relative;
}

.sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #CA33FF;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
    animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
}

.sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    transform: rotate(120deg);
}

.sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    transform: rotate(150deg);
}

.sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    -ms-transform: rotate(210deg);
    transform: rotate(210deg);
}

.sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    -ms-transform: rotate(240deg);
    transform: rotate(240deg);
}

.sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    -ms-transform: rotate(300deg);
    transform: rotate(300deg);
}

.sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    -ms-transform: rotate(330deg);
    transform: rotate(330deg);
}

.sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

.sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s;
}

.sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s;
}

.sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s;
}

.sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s;
}

.sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes sk-circleBounceDelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.navbar-brand {
    position: relative;
    padding: 0px;
}

.navbar-header .logo {
    height: 40px;
}

.navbar-brand img {
    max-width: 25%;
    height: 100%;
}

.top-nav-collapse {
    background: #fff;
    z-index: 999999;
    top: 0px !important;
    min-height: 58px;
    box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    background: #fff !important;
}

.top-nav-collapse .navbar-brand {
    top: 0px;
}

.top-nav-collapse .navbar-nav .nav-link {
    color: #212121 !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
    color: #CA33FF !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
    color: #CA33FF !important;
}

.indigo {
    background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: black;
    padding: 0 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 40px;
    text-transform: uppercase;
    background: transparent;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.navbar-expand-lg .navbar-nav li>a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -10px;
    width: 15px;
    height: 2px;
    background: #CA33FF;
    -webkit-transform: scale3d(0, 1, 1);
    -moz-transform: scale3d(0, 1, 1);
    transform: scale3d(0, 1, 1);
    -webkit-transition: -webkit-transform 0.1s;
    -moz-transition: -webkit-transform 0.1s;
    transition: transform 0.1s;
}

.navbar-expand-lg .navbar-nav .active a:before {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.navbar-expand-lg .navbar-nav li a:hover,
.navbar-expand-lg .navbar-nav li .active>a,
.navbar-expand-lg .navbar-nav li a:focus {
    color: #CA33FF;
    outline: none;
}

.navbar-expand-lg .navbar-nav .nav-link:focus,
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #CA33FF !important;
}

.navbar {
    padding: 0;
}

.navbar li.active a.nav-link {
    color: #CA33FF !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    z-index: 99;
    min-width: 210px;
    background-color: #fff;
    white-space: nowrap;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -5px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #f5f5f5;
}

.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    text-align: left;
    top: 100%;
    border: none;
    animation: fadeIn 0.4s;
    -webkit-animation: fadeIn 0.4s;
    -moz-animation: fadeIn 0.4s;
    -o-animation: fadeIn 0.4s;
    -ms-animation: fadeIn 0.4s;
    background: #f5f5f5;
}

.dropdown .dropdown-menu .dropdown-item {
    width: 100%;
    padding: 12px 20px;
    font-size: 14px;
    color: #212121;
    border-bottom: 1px solid #f1f1f1;
    text-decoration: none;
    display: inline-block;
    float: left;
    clear: both;
    position: relative;
    outline: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
    color: #CA33FF;
}

.dropdown-item.active,
.dropdown-item:active {
    background: transparent;
}

.fadeInUpMenu {
    -webkit-animation-name: fadeInUpMenu;
    animation-name: fadeInUpMenu;
}

.slicknav_btn {
    border-color: #CA33FF;
}

.slicknav_menu .slicknav_icon-bar {
    background: #CA33FF;
}


/* only small tablets */

@media (min-width: 768px) and (max-width: 991px) {
    #nav-main li a.nav-link {
        padding-top: 18px;
    }
}

.navbar-toggler {
    display: none;
}

.mobile-menu {
    display: none;
}

.slicknav_menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar-header {
        width: 100%;
    }

    .navbar-brand {
        position: absolute;
        padding: 15px 15px;
        top: 0;
    }

    .navbar-brand img {
        width: 75%;
    }

    #mobile-menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
        height: 5px;
    }

    .slicknav_nav .active a {
        background: #CA33FF;
        color: #fff;
    }

    .slicknav_nav a:hover,
    .slicknav_nav .active {
        color: #CA33FF;
        background: #f5f5f5;
    }

    .slicknav_nav .dropdown li a.active {
        background: #f5f5f5;
        color: #CA33FF;
    }
}

.hero-heading {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    /* text-transform: capitalize; */
    line-height: 70px;
    letter-spacing: 0.1rem;
}

.hero-sub-heading {
    font-size: 20px;
    font-weight: 400;
    color: #e6e6e6;
    line-height: 45px;
    letter-spacing: 0.1rem;
}

.section-titile-bg {
    display: inline;
    font-size: 115px;
    font-weight: 700;
    height: 100%;
    left: -173px;
    opacity: 0.1;
    position: absolute;
    top: -14px;
    width: 100%;
    text-align: center;
}

.section-title-header p {
    text: center;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 36px;
}

.section-title {
    font-size: 36px;
    color: #212121;
    line-height: 52px;
    padding-bottom: 20px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 15px;
    margin-top: 100px;
}

.section-title:before {
    position: absolute;
    content: '';
    left: 15px;
    bottom: 8px;
    width: 48px;
    height: 1px;
    background-color: #CA33FF;
}

.section-title:after {
    position: absolute;
    content: '';
    left: 0px;
    bottom: 2px;
    width: 48px;
    height: 1px;
    background-color: #CA33FF;
}

.section-title:before,
.section-title:after {
    left: 50%;
    margin-left: -45px;
}

.section-title:after {
    margin-left: -30px;
}

.section-subcontent {
    font-size: 16px;
    text: center;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 36px;
}

.section-sub {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 52px;
    padding-bottom: 15px;
    margin-bottom: 30px;
    position: relative;
}

.section-sub:before {
    position: absolute;
    content: '';
    height: 1px;
    width: 45px;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #CA33FF;
    ;
}

@media screen and (max-width: 768px) {
    .hero-heading {
        font-size: 30px;
        /* Adjust font size for smaller screens */
        line-height: 50px;
        /* Adjust line height for smaller screens */
    }

    .hero-sub-heading {
        font-size: 18px;
        /* Adjust font size for smaller screens */
        line-height: 40px;
        /* Adjust line height for smaller screens */
    }

    .section-titile-bg {
        font-size: 80px;
        /* Adjust font size for smaller screens */
        left: -100px;
        /* Adjust positioning for smaller screens */
        top: -10px;
        /* Adjust positioning for smaller screens */
    }

    .section-title {
        font-size: 30px;
        /* Adjust font size for smaller screens */
        line-height: 45px;
        /* Adjust line height for smaller screens */
    }

    .section-title:before,
    .section-title:after {
        width: 30px;
        /* Adjust width for smaller screens */
        height: 1px;
        /* Adjust height for smaller screens */
    }

    .section-title:after {
        margin-left: -15px;
        /* Adjust margin for smaller screens */
    }

    .section-sub {
        font-size: 20px;
        /* Adjust font size for smaller screens */
        line-height: 40px;
        /* Adjust line height for smaller screens */
    }

    .section-sub:before {
        width: 30px;
        /* Adjust width for smaller screens */
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
} */

.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.profile-card {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: -5px 8px 45px rgba(51, 51, 51, 0.126);
    transition: all .4s;
    margin: 100px;

}

.profile-card:hover {
    /* border-radius: 10px;
    height: 260px; */
    background-color: #FF7F50;
}

.profile-card .img {
    position: relative;
    width: 100%;
    height: 100%;
}

/* .profile-card:hover img {
    border-radius: 10px;
    transform: translateY(-70px);
} */

.img img {
    /* object-fit: fill; */
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all .4s;
    z-index: 99;
    transform: translateY(-70px);
}

.caption {
    text-align: center;
    transform: translateY(-90px);
    opacity: 1;
    pointer-events: none;
    transition: all .5s;
    pointer-events: all;
}

.profile-card:hover .caption {
    /* opacity: 1;
    pointer-events: all; */
    color: #f1f1f1;
}

.caption h3 {
    font-size: 21px;
    /* color: #0c52a1; */
    font-weight: 600;
    padding-top: 25px;
}

.caption p {
    font-size: 20px;
    font-weight: 500;
    /* margin: 2px 0 12px 0; */
    /* padding-bottom: 5px; */
}

.caption .social-links i {
    font-size: 31px;
    margin: 4px 3px;
    cursor: pointer;
    color: #333;
    transition: all .4s;
}

.caption .social-links i:hover {
    color: #fff;
}

/* For screens with a maximum width of 768px (typical for mobile devices) */
@media (max-width: 768px) {
    .home-container {
        display: inline;
    }

    .profile-card {
        width: 90%;
        height: auto;
        margin: 50px auto;
        padding: 25px;
    }

    .img img {
        transform: translateY(-60px);
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .caption {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
}

/* For screens with a minimum width of 769px (typical for tablets and larger screens) */